h2.title {
  color: #fff;
  font-size: 2em;
}

html, body {
  height: 100%;
  overflow: auto;
  /* screens */
}

html .container, body .container {
  width: 80vw;
}

html .background-level, body .background-level {
  height: 60vh;
  margin: 15vh auto;
  width: 100%;
}

html .content .screen, body .content .screen {
  display: none;
}

html .screen.active, body .screen.active {
  display: block;
}

body {
  background: url(../../img/sunrise2.jpg) center/cover;
}

.navbar {
  background: none;
  padding: 1%;
}

.form-container {
  background-color: rgba(185, 17, 17, 0.8);
  height: 60vh;
  margin: auto;
  width: 25vw;
  border-radius: 10px;
  padding: 3%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.form-container .form-container-top {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-container .logo {
  margin-bottom: 12%;
  width: 90%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.form-container .input-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-container .input-nav .fa-chevron-circle-right, .form-container .input-nav .fa-chevron-circle-left {
  color: yellow;
  text-align: right;
  font-size: 2.6em;
}

.form-container .input-nav .fa-chevron-circle-right:hover, .form-container .input-nav .fa-chevron-circle-left:hover {
  cursor: pointer;
}

.form-container form {
  height: 30%;
  overflow: hidden;
}

.form-container form .input-container {
  position: relative;
  width: 4000px;
  height: 70%;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-container form .input-container .inputs {
  position: absolute;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 70%;
  margin: 0 10%;
}

.form-container form .input-container .when-input {
  left: 0;
}

.form-container form .input-container .where-input {
  left: 400px;
}

.form-container form .input-container .who-input {
  left: 800px;
}

.form-container form .input-container input {
  width: 15vw;
  padding: 2%;
  margin: 2% auto;
  border-radius: 4px;
}

.form-container form .input-container input:hover {
  cursor: text;
}
/*# sourceMappingURL=main.css.map */