body {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.content .landing-blurb, .content .summary-blurb {
  font-family: 'Josefin Sans', sans-serif;
  color: #ffd83e;
  text-align: center;
  font-size: 2.8em;
}

@media (max-width: 1800px) {
  .content .landing-blurb {
    color: rgba(185, 17, 17, 0.8);
  }
}

@media (max-width: 769px) {
  .content .landing-blurb {
    font-size: 1.8em;
    margin-bottom: 6%;
  }
}

h2.title {
  color: #fff;
  font-size: 2em;
}

html, body {
  height: 100%;
  overflow: auto;
  position: relative;
  margin: 0;
}

html .hidden, body .hidden {
  display: none !important;
}

html .content, body .content {
  margin-top: 9%;
  padding-bottom: 100px;
}

@media (max-width: 769px) {
  html .content, body .content {
    padding-top: 10%;
  }
}

html .content .background-level, body .content .background-level {
  margin: 15vh auto;
  margin-top: 0;
  width: 100%;
}

html .content .screen, body .content .screen {
  display: none;
  margin-top: 2%;
}

html .content .screen.active, body .content .screen.active {
  display: block;
}

html .content h1:not(:first-child), body .content h1:not(:first-child) {
  margin-top: 0.4em;
}

body {
  background: url(../../img/sunrise2.jpg) center/cover;
}

.navbar {
  visibility: hidden;
  position: absolute;
  margin: auto 0;
  width: 100%;
  background: none;
  padding: 2% 0;
}

.navbar .navbar-brand .fas {
  font-size: 3em;
  color: #ffd83e;
}

.navbar .navbar-brand .fas:hover {
  cursor: pointer;
}

.navbar .button {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.navbar > .container {
  width: 70%;
}

@media (max-width: 1087px) {
  .navbar > .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.form-container {
  background-color: rgba(185, 17, 17, 0.8);
  margin: auto;
  width: 25vw;
  border-radius: 10px;
  padding: 2.5%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

@media (max-width: 1400px) {
  .form-container {
    width: 40%;
  }
}

@media (max-width: 769px) {
  .form-container {
    width: 70%;
    padding: 6%;
  }
}

.form-container .form-container-top {
  -ms-flex-item-align: center;
  align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.form-container .form-container-top .logo, .form-container .form-container-top hr {
  width: 90%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.form-container .form-container-top .logo {
  margin-top: 4%;
  margin-bottom: 8%;
}

.form-container .form-container-top hr {
  margin-bottom: 3%;
}

.form-container form {
  margin-top: 1%;
  height: 22vh;
  overflow: hidden;
}

@media (max-width: 1400px) {
  .form-container form {
    height: 18vh;
  }
}

.form-container form .input-container {
  position: relative;
  width: 4000px;
  height: 100%;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.form-container form .input-container .inputs {
  height: 100%;
  position: absolute;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 15vw;
  margin: 0 12%;
}

@media (max-width: 1400px) {
  .form-container form .input-container .inputs {
    width: 100%;
    margin: 0;
  }
}

.form-container form .input-container .input {
  width: 15vw;
  margin: 2% auto;
  font-size: 1.6em;
}

@media (max-width: 1400px) {
  .form-container form .input-container .input {
    width: 60%;
  }
}

.form-container form .input-container input[type=number]::-webkit-inner-spin-button,
.form-container form .input-container input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-container form .input-container .input:hover {
  cursor: text;
}

.form-container form .input-container .when-input {
  left: 0;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.form-container form .input-container .where-input {
  left: 400px;
  margin: 0;
  font-size: 1.6em;
  padding-top: 8%;
}

.form-container form .input-container .where-input .icon {
  height: 1.8em;
  font-size: 1.6em;
}

.form-container form .input-container .where-input .map {
  display: none;
}

.form-container form .input-container .where-input .leaflet-control-geosearch {
  margin-left: 15%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  width: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
}

@media (max-width: 1400px) {
  .form-container form .input-container .where-input .leaflet-control-geosearch {
    margin-left: 4%;
    width: 80%;
  }
}

.form-container form .input-container .where-input .leaflet-control-geosearch .leaflet-bar-part, .form-container form .input-container .where-input .leaflet-control-geosearch .reset {
  height: 2em;
  width: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
}

.form-container form .input-container .where-input .leaflet-control-geosearch .leaflet-bar-part:hover {
  cursor: auto;
  background-color: #fff;
}

.form-container form .input-container .where-input .leaflet-control-geosearch .leaflet-bar-part::before,
.form-container form .input-container .where-input .leaflet-control-geosearch .leaflet-bar-part::after {
  display: none;
}

.form-container form .input-container .where-input .leaflet-control-geosearch form {
  margin-top: 0.8%;
  display: block;
  width: 100%;
  left: 1.6em;
  height: 2em;
  border-radius: 4px;
  border: none;
  line-height: 5%;
  padding-bottom: 2px;
}

@media (max-width: 1400px) {
  .form-container form .input-container .where-input .leaflet-control-geosearch form {
    width: 80%;
  }
}

.form-container form .input-container .where-input .leaflet-control-geosearch form input {
  font-size: 0.8em;
  color: rgba(54, 54, 54, 0.3);
}

.form-container form .input-container .where-input .leaflet-control-geosearch form .glass {
  padding: 1.25em 0;
  color: rgba(54, 54, 54, 0.3);
  color: #000;
}

.form-container form .input-container .where-input .leaflet-control-geosearch .fas {
  color: rgba(54, 54, 54, 0.3);
}

.form-container form .input-container .where-input .leaflet-control-geosearch .results {
  padding-bottom: 5em;
  color: #000;
  font-size: 0.6em;
}

.form-container form .input-container .where-input .leaflet-control-geosearch .results > * {
  line-height: 1.4em;
  white-space: normal;
}

.form-container form .input-container .who-input {
  width: 15vw;
  left: 800px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 10%;
}

.form-container form .input-container .who-input .level {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.form-container form .input-container .who-input .input {
  text-align: center;
  width: 4em;
  font-size: 1.2em;
}

.form-container form .input-container .who-input .button {
  height: 1em;
  width: auto;
  padding: 0;
  font-size: 3em;
  border: none;
  background: none;
}

.form-container form .input-container .who-input .button .fas {
  color: #ffd83e;
}

@media (max-width: 1400px) {
  .form-container form .input-container .who-input {
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
  }
}

@media (max-width: 400px) {
  .form-container form .input-container .who-input {
    padding-left: 8%;
    padding-right: 8%;
  }
}

.form-container .input-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 8%;
}

.form-container .input-nav .fa-chevron-circle-right, .form-container .input-nav .fa-chevron-circle-left, .form-container .input-nav .fa-check-circle {
  color: #ffd83e;
  text-align: right;
  font-size: 2.6em;
}

.form-container .input-nav .fa-chevron-circle-right:hover, .form-container .input-nav .fa-chevron-circle-left:hover, .form-container .input-nav .fa-check-circle:hover {
  cursor: pointer;
}

.form-container .input-nav .fa-check-circle {
  display: none;
}

.form-container .input-nav i:hover {
  color: #fff;
}

.form-container .input-nav .input-nav-button {
  visibility: hidden;
}

.form-container .input-nav .input-nav-button .fa-redo-alt {
  margin-left: 6%;
}

.summaryScreen .no-bookings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-item-align: center;
  align-self: center;
  margin-top: 4%;
}

.summaryScreen .no-bookings h2 {
  color: #fff;
  font-weight: 400;
}

.summaryScreen .no-bookings .button {
  width: 40%;
  margin: auto;
}

.summaryScreen .summary-container {
  margin: auto;
  margin-top: 5%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-line-pack: justify;
  align-content: center;
  color: #fff;
  background: rgba(185, 17, 17, 0.8);
  padding: 3%;
  border-radius: 10px;
}

.summaryScreen .summary-container .summary-logo {
  z-index: 100;
  max-width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
}

@media (max-width: 700px) {
  .summaryScreen .summary-container .summary-logo {
    margin-top: 5rem;
    max-width: 50%;
  }
}

@media (max-width: 700px) {
  .summaryScreen .summary-container .summary-logo {
    margin-top: 5.4rem;
    max-width: 60%;
  }
}

.summaryScreen .summary-container .summary-blurb {
  margin-top: 0.5em;
  margin-bottom: 0.8em;
}

@media (max-width: 769px) {
  .summaryScreen .summary-container .summary-blurb {
    margin-top: 0.8em;
  }
}

@media (max-width: 700px) {
  .summaryScreen .summary-container .summary-blurb {
    font-size: 2em;
  }
}

.summaryScreen .summary-container .summary-content-container {
  background: #fff;
  width: 90%;
  margin: auto;
  padding: 0 5%;
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-radius: 10px;
}

.summaryScreen .summary-container .summary-content-container .option {
  min-height: 90%;
  width: 300px;
  margin: auto;
  margin-top: 60px;
  padding: 1%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 4px;
}

.summaryScreen .summary-container .summary-content-container .option .option-container {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  font-size: 80%;
}

.summaryScreen .summary-container .summary-content-container .option img {
  max-width: 100%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.summaryScreen .summary-container .summary-content-container .option hr {
  background-color: rgba(185, 17, 17, 0.8);
}

.summaryScreen .summary-container .summary-content-container .option .info {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.summaryScreen .summary-container .summary-content-container .option .info .title {
  color: #000;
  margin-top: 0;
}

.summaryScreen .summary-container .summary-content-container .option .info .info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.summaryScreen .summary-container .summary-content-container .option .info h3 {
  font-weight: 400;
  margin-top: 0;
}

.summaryScreen .summary-container .summary-content-container .option .info .fas {
  font-size: 1.2em;
  color: #000;
  margin-right: 2%;
}

.summaryScreen .summary-container .summary-content-container .option .info .fa-users {
  margin-right: 2%;
}

.summaryScreen .summary-container .summary-content-container .option .info .fa-dollar-sign {
  margin-right: 5%;
}

.summaryScreen .summary-container .summary-content-container .option .info .fa-utensils {
  margin-right: 4%;
}

.summaryScreen .summary-container .summary-content-container .option .info .location-type * {
  color: rgba(185, 17, 17, 0.8);
}

.summaryScreen .summary-container .summary-content-container .option .info .location-type .fas {
  font-size: 1.8em;
}

.summaryScreen .summary-container .summary-content-container .option .info .guests, .summaryScreen .summary-container .summary-content-container .option .info .price, .summaryScreen .summary-container .summary-content-container .option .info .meals {
  font-size: 1em;
}

.summaryScreen .summary-container .summary-content-container .option .info .price, .summaryScreen .summary-container .summary-content-container .option .info .fa-dollar-sign {
  font-size: 1.3em;
}

.summaryScreen .summary-container .summary-content-container .option .button {
  margin-top: 4%;
  width: 40%;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

@media (max-width: 500px) {
  .summaryScreen .summary-container .summary-content-container .option .button {
    font-size: 1.4em;
    width: 60%;
  }
}

@media (max-width: 300px) {
  .summaryScreen .summary-container .summary-content-container .option .button {
    width: 80%;
  }
}

.button {
  background: #ffd83e;
}

.button:hover {
  color: #fff;
  background: rgba(185, 17, 17, 0.8);
}

.modal {
  color: #000;
  padding: 2%;
  background: darkred;
}

@media (max-width: 769px) {
  .modal {
    padding: 10%;
  }
}

.modal .modal-close {
  position: absolute;
  top: 10px;
  right: 20px;
  border: 0;
  background: rgba(185, 17, 17, 0.8);
  padding: 5px 10px;
  font-size: 3em;
  cursor: pointer;
}

.modal .option {
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #fff;
  height: auto;
  padding: 6%;
  border-radius: 10px;
}

.modal .option .title {
  margin-bottom: 4%;
  color: #000;
}

.modal .option .info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.modal .option .fas {
  color: #000;
  margin-right: 2%;
  font-size: 1.2em;
}

.modal .option .fa-users {
  margin-right: 3%;
}

.modal .option .fa-dollar-sign {
  margin-right: 6%;
}

.modal .option .fa-utensils {
  margin-right: 6%;
}

.modal .option .location-type * {
  color: rgba(185, 17, 17, 0.8);
  font-size: 110%;
}

.modal .option .location-type .fa-map-marker-alt {
  margin-right: 5%;
  font-size: 135%;
}

.modal .option .price * {
  font-size: 150%;
  margin-top: 4%;
  color: rgba(185, 17, 17, 0.8);
}

.modal .option hr {
  background: rgba(185, 17, 17, 0.8);
}

.modal .option .booking-button {
  -ms-flex-item-align: end;
  align-self: flex-end;
}

@media (max-width: 1100px) {
  .modal .option .booking-button {
    margin-top: 4%;
  }
}
/*# sourceMappingURL=main.css.map */