.form-container {
    background-color: $brand-red;
    margin: auto;
    width: 25vw;
    border-radius: 10px;
    padding: 3%;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .form-container-top {
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .logo {
            margin-bottom: 12%;
            width: 90%;
            align-self: center;
        }
    }
    
    form {
        margin-top: 2vh;
        height: 25vh;
        overflow: hidden;
        .input-container {
            position: relative;
            width: 4000px;
            height: 100%;
            max-width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .inputs {
                height: 100%;
                position: absolute;
                float: left;
                display: flex;
                flex-direction: column;
                width: 15vw;
                margin: 0 10%;
            }
            .input {
                width: 15vw;
                margin: 2% auto;
                font-size: 1.6em;
            }
            .input:hover {
                cursor: text;
            }
            .when-input {
                left: 0;
                justify-content: space-around;                
            }
            .where-input {
                left: 400px;
                margin: 0;
                font-size: 1.6em;
                .input {
                    max-width: 19vw;
                    width: 19vw;
                }
                .icon {
                    height: 1.8em;
                    font-size: 1.6em;
                }
                .map {
                    width: 19vw;
                    height: 100%;
                    border-radius: $border-radius;
                }
            }
            .who-input {
                width: 15vw;
                left: 800px;
                justify-content: center;
                .columns {
                    height: 100%;
                    .column {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                    }
                }
                .button {
                    width: 100%;
                    font-size: 1.2em;
                }
            }
            .what-input {
                left: 1200px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                .button {
                    width: 100%;
                    font-size: 1.5em;
                    text-align: left;
                }
            }
        }
    }
    .input-nav {
        display: flex;
        justify-content: space-between;
        margin-top: 8%;
        .fa-chevron-circle-right, .fa-chevron-circle-left, .fa-check-circle {
            color: yellow;
            text-align: right;
            font-size: 2.6em;
        }
        .fa-chevron-circle-right:hover, .fa-chevron-circle-left:hover, .fa-check-circle:hover {
            cursor: pointer;
        }
        .fa-check-circle {
            display: none;
        }
    }
}