.form-container {
    background-color: $brand-red;
    height: 60vh;
    // overflow-y: visible;
    margin: auto;
    width: 25vw;
    border-radius: 10px;
    padding: 3%;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .form-container-top {
        // width: 90%;
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .logo {
        margin-bottom: 12%;
        width: 90%;
        align-self: center;
    }
    .input-nav {
        display: flex;
        justify-content: space-between;
        .fa-chevron-circle-right, .fa-chevron-circle-left {
            color: yellow;
            text-align: right;
            font-size: 2.6em;
        }
        .fa-chevron-circle-right:hover, .fa-chevron-circle-left:hover {
            cursor: pointer;
        }
    }
    form {
        height: 30%;
        overflow: hidden;
        .input-container {
            position: relative;
            width: 4000px;
            height: 70%;
            max-width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .inputs {
                position: absolute;
                float: left;
                display: flex;
                flex-direction: column;
                max-width: 70%;
                margin: 0 10%;
            }
            .when-input {
                left: 0;
            }
            .where-input {
                left: 400px;
            }
            .who-input {
                left: 800px;
            }
            input {
                width: 15vw;
                padding: 2%;
                margin: 2% auto;
                border-radius: $border-radius;
            }
            input:hover {
                cursor: text;
            }
        }
    }
}