.form-container {
    background-color: $brand-red;
    // height: 80%;
    margin: auto;
    width: 25vw;
    border-radius: 10px;
    padding: 3%;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .form-container-top {
        // width: 90%;
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .logo {
        margin-bottom: 12%;
        width: 90%;
        align-self: center;
    }
    form {
        // margin-top: 2%;
        .inputs {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        input {
            width: 70%;
            padding: 2%;
            margin: 2% auto;
            border-radius: $border-radius;
        }
        input:hover {
            cursor: text;
        }
    }
}