.modal {
    color: $black;
    padding: 2%;
    background: $darkred;
    @include tablet {
        padding: 10%;
    }
    .modal-close {
        position: absolute;
        top: 10px;
        right: 20px;
        border: 0;
        background: $brand-red;
        padding: 5px 10px;
        font-size: 3em;
        cursor: pointer;
    }
    .option {
        overflow: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        background: $white;
        height: auto;
        padding: 6%;
        border-radius: $border-radius-large;
        .title {
            margin-bottom: 4%;
            color: $black;
        }
        .info-item {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
        }
        .fas {
            color: $black;
            margin-right: 2%;
            font-size: 1.2em;
        }
        .fa-users {
            margin-right: 3%;
        }
        .fa-dollar-sign {
            margin-right: 6%;
        }
        .fa-utensils {
            margin-right: 6%;
        }
        .location-type {
            * {
                color: $brand-red;
                font-size: 110%;
            }
            .fa-map-marker-alt {
                margin-right: 5%;
                font-size: 135%;
            }
        }
        .price * {
                font-size: 150%;
                margin-top: 4%;
                color: $brand-red;
        }
        hr {
            background: $brand-red;
        }
        .booking-button {
            -ms-flex-item-align: end;
                align-self: flex-end;
                @include custom(1100px) {
                    margin-top: 4%;
                }
        }
    }
}