.navbar {
    visibility: hidden;
    position: absolute;
    margin: auto 0;
    width: 100%;
    background: none;
    padding: 2% 0;
    .navbar-brand {
        .fas {
            font-size: 3em;
            color: $brand-yellow;
        }
        .fas:hover {
            cursor: pointer;
        }
    }
    .button {
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
    }
}

.navbar > .container {
    width: 70%;
    @include custom ($nav-bp) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}