.summaryScreen {
    .no-bookings {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        margin-top: 4%;
        h2 {
            color: white;
            font-weight: 400;
        }
        .button {
            width: 40%;
            margin: auto;
        }
    }
    .summary-container {
        margin: auto;
        margin-top: 5%;
        width: 80%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-between;
        color: $white;
        background: $brand-red;
        padding: 3%;
        border-radius: $border-radius-large;
        .summary-logo {
            max-width: 15%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
        }
        .summary-content-container {
            background: white;
            width: 90%;
            margin: auto;
            padding: 5%;
            display: flex;
            align-content: space-between;
            flex-wrap: wrap;
            border-radius: $border-radius-large;
            .option {
                // flex-basis: 1;
                min-height: 90%;
                // Media query for width so options stay inline!
                width: 300px;
                margin: auto;
                display: inline-flex;
                flex-direction: column;
                justify-content: center;
                border-radius: $border-radius-small;
                .option-container {
                    width: 90%;
                    margin: auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    font-size: 80%;
                }
                img {
                    max-width: 100%;
                    align-self: center;
                }
                hr {
                    background-color: $brand-red;
                }
                .info {
                    justify-content: center;
                    .title {
                        color: black;
                        margin-top: 0;
                    }
                    
                    .location-type {
                        color: $brand-red;
                    }
                    h3 {
                        font-weight: 400;
                        margin-top: 0;
                    }
                    .guests, .price, .meals {
                        font-size: 96%;
                    }
                }
                .button {
                    margin-top: 4%;
                    width: 40%;
                    align-self: flex-end;
                }
            }
        }
    }
}