.summaryScreen {
    .no-bookings {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -ms-flex-item-align: center;
            align-self: center;
        margin-top: 4%;
        h2 {
            color: $white;
            font-weight: 400;
        }
        .button {
            width: 40%;
            margin: auto;
        }
    }
    .summary-container {
        margin: auto;
        margin-top: 5%;
        width: 80%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -ms-flex-line-pack: justify;
            align-content: center;
        color: $white;
        background: $brand-red;
        padding: 3%;
        border-radius: $border-radius-large;
        .summary-logo {
            z-index: 100;
            max-width: 15%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            margin: 0 auto;
            @include custom ($summary-header-bp) {
                margin-top: 5rem;
                max-width: 50%;
            }
            @include custom ($summary-header-bp) {
                margin-top: 5.4rem;
                max-width: 60%;
            }
        }
        .summary-blurb {
            margin-top: 0.5em;
            margin-bottom: 0.8em;
            @include tablet {
                margin-top: 0.8em;
            }
            @include custom ($summary-header-bp) {
                font-size: 2em;
            }
        }
        .summary-content-container {
            background: $white;
            width: 90%;
            margin: auto;
            padding: 0 5%;
            padding-bottom: $summary-option-wrap-margin;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-line-pack: justify;
                align-content: space-between;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            border-radius: $border-radius-large;
            .option {
                min-height: 90%;
                width: 300px;
                margin: auto;
                margin-top: $summary-option-wrap-margin;
                padding: 1%;
                display: -webkit-inline-box;
                display: -ms-inline-flexbox;
                display: inline-flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                border-radius: $border-radius-small;
                .option-container {
                    width: 90%;
                    margin: auto;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                        -ms-flex-direction: column;
                            flex-direction: column;
                    -webkit-box-pack: start;
                        -ms-flex-pack: start;
                            justify-content: flex-start;
                    font-size: 80%;
                }
                img {
                    max-width: 100%;
                    -ms-flex-item-align: center;
                        -ms-grid-row-align: center;
                        align-self: center;
                }
                hr {
                    background-color: $brand-red;
                }
                .info {
                    -webkit-box-pack: center;
                        -ms-flex-pack: center;
                            justify-content: center;
                    .title {
                        color: $black;
                        margin-top: 0;
                    }
                    .info-item {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                    }
                    h3 {
                        font-weight: 400;
                        margin-top: 0;
                    }
                    .fas {
                        font-size: 1.2em;
                        color: $black;
                        margin-right: 2%;
                    }
                    .fa-users {
                        margin-right: 2%;
                    }
                    .fa-dollar-sign {
                        margin-right: 5%;
                    }
                    .fa-utensils {
                        margin-right: 4%;
                    }
                    .location-type {
                        * {
                            color: $brand-red;
                        }
                        .fas {
                            font-size: 1.8em;
                        }
                    }
                    .guests, .price, .meals {
                        font-size: 1em;
                    }
                    .price, .fa-dollar-sign {
                        font-size: 1.3em;
                    }
                }
                .button {
                    margin-top: 4%;
                    width: 40%;
                    -ms-flex-item-align: end;
                        align-self: flex-end;
                    @include custom(500px) {
                        font-size: 1.4em;
                        width: 60%
                    }
                    @include custom(300px) {
                        width: 80%;
                    }
                }
            }
        }
    }
}