html, body {
    height: 100%;
    overflow: auto;
    position: relative;
    margin: 0;

    .background-level {
        // height: $height-60;
        margin: $height-15 auto;
        margin-top: 0;
        width: $full;
    }

    /* screens */
    .content {
        .summary-logo {
            max-width: 8%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
        }
        margin-top: 12%;
        padding-bottom: 100px;
        .screen {
            display: none;
            margin-top: 2%;
        }
        .screen.active {
            display: block;
        }
        h1:not(:first-child) {
            margin-top: 0.4em;
        }
    }
}

