html, body {
    height: 100%;
    overflow: auto;
    position: relative;

    .background-level {
        // height: $height-60;
        margin: $height-15 auto;
        margin-top: 0;
        width: $full;
    }

    /* screens */
    .content {
        margin-top: 10%;
        padding-bottom: 100px;
        .screen {
            display: none;
            margin-top: 2%;
        }
        .screen.active {
            display: block;
        }
    }
}

