body {
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.content .blurb {
    font-family: 'Josefin Sans', sans-serif;
    color: $brand-yellow;
    text-align: center;
    font-size: 2.8em;
    @include custom (1800px) {
        color: $brand-red;
    }
    @include tablet {
        font-size: 1.8em;
        margin-bottom: 10%;
    }
}

h2.title {
    color: $white;
    font-size: 2em;
}