// Import Bulma variables
@import '../../node_modules/bulma/sass/utilities/initial-variables.sass';

// Colours
$black: #000;
$white: #fff;
$brand-red: rgba(185, 17, 17, 0.8);
$darkred: darkred;
$brand-yellow: rgb(255, 216, 62);
$placeholder-color: rgba(54, 54, 54, 0.3);

// Units
$full: 100%;
$height-15: 15vh;
$border-radius-small: 4px;
$border-radius-large: 10px;

// Custom breakpoints
$nav-bp: 1087px;
$form-desktop-bp: 1400px;
$summary-header-bp: 700px;